@import './mixin.scss';
.passwordModal{
    @include modal(204px, 163px);
    border: 1px solid #9d8dea;
    border-radius: 12px;
    background-color: #fff;
    padding: 5px;
    .content{
        display: grid;
        grid-template-rows: 50px 50px 20px auto;
        position: relative;
        .title{
            border-bottom: 1px solid #9d8dea;
            color: #7e6cd5;
            font-size: 18px;
            line-height: 57px;
            text-align: center;
        }
        .input{
            text-align: center;
            &>input[type="password"]{
                line-height: 50px;
                width: 194px;
                text-align: center;
                border: none;
                color: #7e6cd5;
                font-size: 14px;
                outline: none;
            }
        }
        .alert{
            text-align: center;
            color: #ff0000;
            font-size: 12px;
        }
        .buttonBox{
            display: grid;
            grid-template-columns: 70px;
            justify-content: center;
            .confirmButton{
                height: 28px;
                line-height: 28px;
                text-align: center;
                border-radius: 7px;
                background-color: #9e8eeb;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
            }
        }
    }
    .modalExitImage{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}